.article_contents {
  .article_top {
    position: sticky;
    overflow: hidden;
    border-bottom: 4px solid #f3f3f3;
    .article_title {
      display: block;
      line-height: 46px;
      padding: 50px 30px 0;
      color: #333;
      font-size: 36px;
      font-weight: 500;
    }
    .article_title_other {
      margin-top: 20px;
      height: 80px;
      line-height: 80px;
      border-radius: 40px 40px 0 0;
      background: #fff;
      padding: 0 30px;
      .other_classify {
        font-size: 24px;
        font-weight: 400;
        color: #999;
        display: inline-block;
        line-height: 80px;
        padding: 0px;
      }
    }
  }
  .article_text {
    // padding: 30px 50px;
    line-height: 2.2rem;
    font-weight: 400;
    font-size: 30px;
    .article_rich_text {
      padding: 30px 50px;
      background-color: #fffae8;
      .table_th {
        border: 1px solid #ccc;
        padding: 3px 5px;
        text-align: left;
        background-color: #f1f1f1;
        text-align: center;
        background: #f1f1f1;
      }
      .table {
        border-collapse: collapse; /* 边框合并 */
      }
      .table_td {
        border: 1px solid #ccc;
        padding: 3px 5px;
        text-align: left;
      }
    }

    .text_end {
      height: 100px;
      line-height: 100px;
      font-size: 20px;
      color: #ccc;
      text-align: center;
    }
    .text_tag {
      padding: 0 50px;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      .text_tag_item {
        float: left;
        padding: 4px 22px 6px 22px;
        vertical-align: middle;
        background: #f6f6f6;
        border-radius: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 22px;
        color: #666;
      }
    }
  }
  .page_laud {
    padding: 15px 20px 10px;
    overflow: hidden;
  }
  .page_laud_list {
    padding: 20px 40px 10px;
    .page_laud_list_title {
      text-align: center;
      padding: 20px;
      font-size: 22px;
      color: #bbb;
      font-weight: 200;
    }
    .page_laud_list_block {
      padding: 20px;
      overflow: hidden;
      text-align: center;
    }
  }
  .pre_next_view {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 30px;
    border-bottom: 1px solid #eeeeee;
    color: #333333;
  }
  .page_cmt_box {
    padding: 20px 30px 80px;
    border-top: 16px solid #f3f3f3;
    background: #fff;
    clear: left;
    .page_cmt_title {
      font-size: 32px;
      font-weight: 500;
      color: #333;
      padding: 10px 0 16px;
      .page_cmt_title_count {
        font-size: 20px;
        font-weight: 400;
        color: #999;
        padding: 6px 16px;
        border-radius: 30px;
        background: #f6f6f6;
        margin-left: 30px;
      }
    }
    .page_cmt_content {
      padding: 20px 0;
      padding-left: 80px;
      border-top: 1px solid #eee;
      overflow: hidden;
      .page_cmt_avatar {
        float: left;
        margin-left: -80px;
        height: 64px;
        width: 64px;
      }
      .page_cmt_head {
        font-size: 28px;
        font-weight: 500;
        color: #333;
        .page_cmt_time {
          font-size: 22px;
          font-weight: 400;
          color: #888;
          margin-left: 20px;
        }
        .comment_action {
          margin-left: 20px;
        }
      }
      .page_cmt_text {
        font-size: 26px;
        font-weight: 300;
        color: #444;
      }
      .page_cmt_replay {
        margin-top: 20px;
        border-radius: 30px;
        padding: 0 20px;
        background: #f6f6f6;
        .cmt_replay_box {
          padding: 20px 0;
          .cmt_replay_name {
            padding-bottom: 10px;
            font-size: 24px;
            font-weight: 500;
            color: #333;
            .cmt_replay_time {
              font-size: 20px;
              font-weight: 400;
              color: #bbb;
              margin-left: 20px;
            }
          }
          .cmt_replay_world {
            font-size: 24px;
            font-weight: 300;
            color: #444;
          }
        }
      }
    }
  }
  .operation {
    padding: 0 20px env(safe-area-inset-bottom);
    width: 95%;
    height: 100px;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    .btn_comment {
      height: 64px;
      background: #ededed;
      color: #999;
      border-radius: 16px;
      font-size: 28px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
      padding-top: 0;
      margin-left: 10px;
    }
    .operation_right {
      width: 100%;
      display: flex;
      justify-content: start;
      padding-top: 0;
      .operation_item {
        height: 64px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        background: none;
        &::after {
          border: none;
        }
      }
    }
  }
}
