.article_contents {
  .th{
    border: 1px solid #ccc;
    padding: 3px 5px;
    text-align: left;
    background-color: #f1f1f1;
    text-align: center;
    background: #f1f1f1;
  }
  .table {
    border-collapse: collapse;	/* 边框合并 */
  }
  .td {
    border: 1px solid #ccc;
    padding: 3px 5px;
    text-align: left;
  }
  
}
.pk-menu-0 {
  display: none;
}
