.verify {
  --nutui-avatar-large-width: 200px;
  --nutui-avatar-large-height: 200px;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  .verify_info {
    padding-top: 120px;
    text-align: center;
    .uploader_avatar {
      border: none;
      background: none;
      &::after {
        border: none;
      }
    }
    .tip_avatar,
    .tip_user_name {
      margin-top: 30px;
      font-size: 30px;
      font-weight: 500;
      color: #666;
    }
    .verify_input {
      padding: 40px 170px;
    }
  }
  .verify_button {
    padding: 0 100px;
    .verify_button_pass {
      text-align: center;
      height: 96px;
      line-height: 96px;
      border-radius: 96px;
      font-size: 28px;
      font-weight: 400;
      color: #999999;
      margin-top: 40px;
    }
  }
}
